body {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: auto auto
}

rehersal-viz {
    margin-top: 20px;
    grid-column: 1;
    width: 680px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.viz-info {
    display: flex;
    width: 100%;
}

.table-title {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SVG experiments */
svg {
    height: 500px;
}

/* timeline index */
.timeline-index {
    display: flex;
    border-bottom: 2px solid #555555;
    border-left: 2px solid #555555;
}

.timeline-index .year {
    font-size: 16px;
    font-weight: bold;
}

.timeline-index .year > span {
    margin-bottom: 0.3em;
    display: block;
}

.timeline-index .months {
    list-style: none;
    display: flex;
    font-size: 14px;
}

.timeline-index .month {
    width: 200px;
}

.timeline-index .day {
    display: flex;
    font-weight: normal;
}

.timeline-index .day notch {
    position: relative;
    bottom: -0.5em;
    left: 0.1em;
    display: block;
}

.timeline-index .day notch[type="rehersal"] {
    width: 1em;
    height: 1em;
    background-color: black;
}

.timeline-index .day notch[type="concert"] {
    width: 1em;
    height: 1em;
    background-color: grey;
}

/* Individual positioning */
.timeline-index .month .days{
    display: flex;
}

.timeline-index .month.january .day {
    width: 25%;
}

.timeline-index .month.february .day {
    width: 50%;
}

/* timeline segments */

.timeline-segment[state="unknown"]{
    border-color: white;
    background-colorbor: white;
}

.timeline-segment[state="bad"]{
    border-color: red;
    background-color: #ef8f7a;
}

.timeline-segment[state="ok"]{
    border-color: yellow;
    background-color: #f7f7aa;
}
.timeline-segment[state="good"]{
    border-color: green;
    background-color: #c6f7aa;
}

.timeline-segment[state="banger"]{
    border-color: purple;
    background-color: #f7aaef;
}

