body {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: auto auto
}

rehersal-viz {
    margin-top: 20px;
    grid-column: 1;
    width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

stats {
    grid-column: 2;
}

.timeline-row {
    display: flex;
    width: auto;
}

.tune-info {
    background-color: #eeeeee;
    padding: 5px;
    width: 70px;
}

.tune-info h2 {
    font-size: 20px;
}

.tune-timeline {
    display: flex;
}

.timeline-segment[state="bad"]{
    background-color: red;
}

.timeline-segment[state="ok"]{
    background-color: yellow;
}
.timeline-segment[state="good"]{
    background-color: green;
}

.timeline-segment[state="banger"]{
    background-color: purple;
}

