body {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: auto auto
}

rehersal-viz {
    margin-top: 20px;
    grid-column: 1;
    width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

stats {
    grid-column: 2;
}

.timeline-row {
    display: flex;
    width: auto;
}

.tune-info {
    background-color: #eeeeee;
    padding: 5px;
    width: 70px;
}

.tune-info h2 {
    font-size: 20px;
}

.tune-timeline {
    display: flex;
}

.timeline-segment{
    box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 10px;
}

.timeline-segment[state="unknown"]{
    border-color: white;
    background-colorbor: white;
}

.timeline-segment[state="bad"]{
    border-color: red;
    background-color: #ef8f7a;
}

.timeline-segment[state="ok"]{
    border-color: yellow;
    background-color: #f7f7aa;
}
.timeline-segment[state="good"]{
    border-color: green;
    background-color: #c6f7aa;
}

.timeline-segment[state="banger"]{
    border-color: purple;
    background-color: #f7aaef;
}

